//META{"name":"Amoled","description":"A Discord theme based on Gruvbox","author":"Kreato","version":"1.5.0"}*//

/**
    Amoled
    
    Made by Kreato#5771
    fork of CircuitRCAY (Circuit#2816)'s theme
*/

/* Iosevka, codeblock font */

@import url("https://cdn.jsdelivr.net/npm/@typopro/web-iosevka@3.7.5/TypoPRO-Iosevka.css");


code {
    font-family: "TypoPRO Iosevka Term", monospace;
    font-weight: 400;
}

@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");
code{
  font-family: 'JetBrains Mono';
  -webkit-font-feature-settings: "liga" on, "calt" on;
  text-rendering: optimizeLegibility;
}


div[class*="message-2qnXI6"]{transition: all 0.5s;}
div[class*="message-2qnXI6"]:hover{
    background-color: #114 !important;
}


/* dm bg */
:root {
       --call-bg: url('https://cdn.discordapp.com/attachments/738968109288914976/769986893944979496/image0.jpg'); /* Replace with what background you want */
    }
    
    .minimum-28Z35l .root-217Brm,
    .video--KPXCT .root-217Brm {
       background: var(--call-bg) center/100% no-repeat;
    }
    .minimum-28Z35l .root-217Brm::before,
    .video--KPXCT .root-217Brm::before {
       content: "";
       position: absolute;
       height: 100%;
       width: 100%;
       background: rgb(0, 0, 0, 0.65);
       backdrop-filter: blur(3px);
    }


/* Show Discord, even when you're offline */
.container-16j22k {
  background: transparent;
  pointer-events: none;
}
.container-16j22k * {
  display: none;
}
.container-16j22k::before {
  content: 'You\'ve gone offline';
  display: block;
  bottom: 24px;
  right: 24px;
  position: absolute;
  padding: 8px 16px;
  background-color: #f04747;
  border-radius: 4px;
  color: #fff;
}

/*colorize window buttons (for windows) */


.titleBar-AC4pGV>*:nth-child(2) {
background-color: transparent;
transition: background-color 1s ease-out;
}
.titleBar-AC4pGV>*:nth-child(3) {
background-color: transparent;
transition: background-color 1s ease-out;
}
.titleBar-AC4pGV>*:nth-child(4) {
background-color: transparent;
transition: background-color 1s ease-out;
}
.titleBar-AC4pGV>*:nth-child(2):hover {
background-color: #AA2832;
}
.titleBar-AC4pGV>*:nth-child(3):hover {
background-color: #056295;
}
.titleBar-AC4pGV>*:nth-child(4):hover {
background-color: #FDB100;
}


/* modern embeds */


.embedFull-2tM8-- {
  background: rgba(0,0,0,0.4);
  border-left: 0px;
  border-bottom: 10px solid;
  border-radius: 10px;
  box-shadow: var(--elevationHigh);
}
.embedFull-2tM8-- .grid-1nZz7S {
  padding-top: 3px;
  padding-bottom: 10px;
}

/*-------Blur spoiler-------*/
/*blurs spoiler text instead of having a black bar over it*/
.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9, .contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9:hover, .contents-2mQqc9 .spoilerText-3p6IlD{
  background:rgb(130,130,130,0.1);
  /*adds minor grey-ish filter to differentiate spoilted text from normal text*/
  border-radius: 7px;
  /*adds rounded edges for the filter described above*/
}
.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9>.inlineContent-3ZjPuv{
  filter: blur(3px);
  /*adds blur filter when text is left alone*/
  opacity: 1;
  /*makes blurred text fully opaque*/
}
.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9:hover>.inlineContent-3ZjPuv{
  filter:none;
  /*removes blur filter on hover*/
  opacity: 1;
  /*makes text opacity look like normal, non-spoiled text on hover*/
}
/*--------------------------*/

/* server */

.iconContainer-2-XQPY {
2	    order: -1;
3	    margin-right: 8px; 
4	    margin-left: 0px;
5	}


/** Chat box */
.form-2fGMdU {
  display: flex;
  flex-direction: column-reverse;
}
.channelTextArea-rNsIhG, .popout_7205, .form-2fGMdU  {
  background: rgba(0,0,0, 0);
  margin-bottom: 5px;
}

.typing-2GQL18, .base-gE7OpD {
  margin-bottom: 5px;
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(5px);
  border-radius: 50px;
  position: relative;
  margin-right: 35px;
}

.scrollerSpacer-avRLaA {
  height: 15px
}

.cooldownWrapper-3joyFc {
  margin-right: 5px;
}
/** Chat box */

/* roles */

.role-2irmRk {
    background-color: var(--background-tertiary);
    border-radius: 4px;
    border: none;
    padding: 0 5px 0 8px;
    height: 25px;
}
.role-2irmRk.actionButton-VzECiy {
    background-color: var(--background-tertiary);
    padding-left: 7px;
    padding-right: 7px;
}
.role-2irmRk .roleCircle-3xAZ1j {
    margin-right: 6px;
    width: 9px;
    height: 9px;
}

/* css */


​.item-1tOPte, .menu-3sdvDG.styleFlexible-wGDiIL { border-radius: 20px; }
.submenu-2-ysNh.menu-3sdvDG { border-radius: 21px; }
.item-1tOPte.labelContainer-1BLJti.colorDefault-2K3EoJ.focused-3afm-j { left: -1.5px; }

/* spotify */

1	.powercord-spotify {
2	  transition: right 0.4s;
3	  border-top-left-radius: 25px;
4	  position: fixed;
5	  z-index: 1;
6	  bottom: 0.5px;
7	  right: -193px;
8	  width: 240px;
9	  background-color: var(--background-secondary);
10	  border-top: 1px solid var(--spotify-color);
11	  border-left: 1px solid var(--spotify-color);
12	}
13	
14	.powercord-spotify:hover {
15	    right: 0px;
16	}


 .unread-2lAfLh {/* Blurple channel unread marker */
   background-color: #7289da;
   width: 3.3px;
   height: 27px;
   margin-top: -15px;
   border-radius: 0px 4px 4px 0;
  } 


/* reload text */
.tip-2cgoli, .tipTitle-GL9qAt {
  font-size: 0px!important;
}
.tip-2cgoli .keybind-2jbzrT {
  display:none;
}
.tipTitle-GL9qAt::after {
  font-size: 16px;
  content: "Amoled V2"
}
.tip-2cgoli::after {
  font-size: 16px;
  content: 'Welcome';
}


/* hover */

div[class*="message-2qnXI6"]:hover{
    background-color: #222 !important;
}

/* Iosevka on Powercord */
pre > code {
    font-family: "TypoPRO Iosevka Term", monospace;
    font-weight: 400;
}

/* white border */

div[class*="divider-3_HH5L hasContent-1_DUdQ divider-JfaTT5 hasContent-1cNJDh"]{
    border-color: #FFF;
}

.theme-dark .avatarUploaderIndicator-2G-aIZ {
    display: none;
} /* Removes the useless icon in settings when uploading an avatar*/
.background-1QDuV2 {
    border-radius: 20px;
} /* Changes the border raidius of the user card*/


.iconWrapper-2OrFZ1[aria-label="Update Ready!"] {
  position: fixed;
  right: 2px;
  top: 80px;
  background: var(--background-tertiary);
  border-radius: 10px;
  width: 300px;
  height: 130px;
  border-right: 5px solid #43B581;
  transition: background 1s;
}
.iconWrapper-2OrFZ1[aria-label="Update Ready!"]::before {
  position: relative;
  display: block;
  content: "A discord update has been released.";
  font-weight: 700;
  top: 13px;
  text-align: center;
}
.iconWrapper-2OrFZ1[aria-label="Update Ready!"]::after {
  position: relative;
  display: block;
  content: "It is recommended to install it now to receive brand new features & patches.";
  top: 22px;
  text-align: center;
}
.iconWrapper-2OrFZ1[aria-label="Update Ready!"] > .icon-22AiRD {
  position: fixed;
  right: 148px;
  top: 173px;
}


/** End Iosevka */

.theme-dark {
    --background-primary: #000;
    --background-secondary: #000;
    --background-tertiary: #000;
    --background-accent: #32302f;
    --text-normal: #fff;
    --text-spotify: #fff;
    --text-muted: #9e9585;
    --text-link: #0db0b8;
    --background-floating: #000;
    --header-primary: #fff;
    --header-secondary: #fff;
    --header-spotify: #fff;
    --interactive-normal: #fff;
    --interactive-hover: #9c9c9c;
    --interactive-active: #fff;
    
}

/* dark shit */
.button-1PXUl0.button-38aScr.lookInverted-2D7oAl.colorBrand-3pXr91.sizeMedium-1AC_Sl.grow-q77ONN {background-color: #000;}
.activity-1ythUs {background-color: #000;}
.tabBarContainer-1s1u-z {background-color: #000;}
.checkboxWrapper-SkhIWG.alignCenter-MrlN6q.marginTop20-3TxNs6.checked-3_4uQ9 {background-color: #000;}
.formNotice-2_hHWR.marginBottom40-2vIwTv.cardPrimary-1Hv-to.card-3Qj_Yx {background-color: #000;}
.placeholder-37qJjk.fontSize16Padding-3Wk7zP {color: #FFF;}
.accountList-33MS45 {background-color: #000;}
.colorStandard-2KCXvj.size14-e6ZScH.description-3_Ncsb.formText-3fs7AJ.micTestCaption-2xsa4I.modeDefault-3a2Ph1 {background-color: #000;}
.connectionHeader-2MDqhu {background-color: #000;}
.subscribeTooltipButton-rIF3w3.button-38aScr.lookInverted-2D7oAl.colorBrand-3pXr91.sizeMedium-1AC_Sl.grow-q77ONN {background-color: #000;}
.button-38aScr.lookInverted-2D7oAl.colorBrand-3pXr91.sizeSmall-2cSMqn.grow-q77ONN {background-color: #000;}
.shinyButton-3uFlM-.button-1PXUl0.button-38aScr.lookInverted-2D7oAl.colorBrand-3pXr91.sizeMedium-1AC_Sl.grow-q77ONN {background-color: #000;}
.modalSize-cqUaws.root-1gCeng.fullscreenOnMobile-1bD22y {background-color: #000;}
.powercord-product.cardPrimary-1Hv-to.card-3Qj_Yx {background-color: #000;}
.modalSize-cqUaws {background-color: #000;}
/* screenshare color */
.sourceScroller-Pk7YAM.thin-1ybCId.scrollerBase-289Jih {background-color: #000;}


::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    width:5px !important;
}
::-webkit-scrollbar-thumb {
    background: var(--background-secondary) !important;
    width:5px !important;
    border:none !important;
    border-radius: 0px !important;
}

/* Guild menu (discord forces light theme) */
div[class*="wrapper"][class*="fixClipping"]{
    background-color: var(--background-secondary);
}

/* New Messages Bar */
div[class*="newMessagesBar"] {
    background-color: var(--background-secondary);
}

/* Hide the action bar nametag and status */
section > div[class*="container"] > [class*='nameTag-'] {
    display:none;
}

/* Center buttons in the panels container */
div[class*="sidebar"] > [class*='panels-'] [class*='container-']{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
}

/* Credit to craftxbox */

/* Mentions (channel, user) */
span[class*="mention"][class*="interactive"] {
    color: var(--text-link);
}

/* Mentions (role) */
span[class*="mention"] {
    color: var(--text-link);
}

div[class^="scrollableContainer"] {
    background-color: var(--background-secondary);
}

div[class^="name"] > span {
    color: var(--text-normal);
}

h1, h2, h3 {
    color: var(--text-normal);
}

h3[class^="title"] {
    color: var(--text-normal);
}

div[class^="panels"] > div[class^="container"] {
    background-color: var(--background-secondary);
}

div[class^="wrapper"] > div[class^="container"] {
    background-color: var(--background-tertiary);
}

section[class^="panels"] > div[class^="container"] > div[class^="nameTag"] > * {
    color: var(--text-normal);
}

section[class^="panels"] > div[class^="container"] {
    background-color: var(--background-secondary);
}

div.userSettingsAccount-2eMFVR > div > div {
    background-color: var(--background-primary);
}

* > div[class^="contents"] {
    color: var(--text-normal)
}

div[class^="size14"] {
    color: var(--text-normal);
}

div[class^="topic"] {
    color: var(--text-muted);
}

div[class^="friendsTable"] {
    background-color: var(--background-primary);
}

[class^="input"] {
    background-color: var(--background-primary);
}

div[class^="uploadModal"] > div[class^="inner"], div[class^="inner"] > div[class^="uploadModal"], div[class^="uploadModal"] > div[class^="footer"] {
    background-color: var(--background-primary);
}

[class^="usernameContainer"]:not([style]){
    color: var(--text-normal)
}

div[class^="username"] {
    background-color: inherit;
}

span[class^="wrapperHover"][role="button"] {
    color: var(--text-link)
}

[class^="autocompleteInner"] {
    background-color: var(--background-secondary)
}


a[class^="wrapper"] {
    color: var(--text-normal)
}

[class^="tooltipRight"] {
    color: var(--text-normal)
}

div[role="dialog"] {
    color: var(--background-primary)
}

div[class*="activityPanel"] {
    background-color: var(--background-secondary)
}

div[class^="text"] {
    color: var(--text-normal)
}

div[class^="side"] > div[class^="item"] {
    background-color: var(--background-secondary)
}

[class^="userInfoViewing"] {
    background-color: var(--background-secondary);
}

[class*="lookFilled"][class*="colorBrand"] {
    background-color: var(--text-link);
}

div[class*="tooltip"] {
    background-color: var(--background-secondary);
}
div[class*="contextMenu"] {
    background-color: var(--background-secondary);
}

div[class*="header"] {
    background-color: var(--background-secondary)
}

div[class*="details"] {
    color: var(--text-normal);
}

div[class*="headerTextNormal"] {
    background-color: var(--background-secondary);
}

span {
    color: var(--text-normal)
}

span[class*="headerName"] {
    color: var(--text-normal)
}

div[class*="userPopout"] > div[class*="footer"] {
    background-color: var(--background-primary)
}

div[class*="scrollerWrap"][class*="body"] > div[class*="scroller"] {
    background-color: var(--background-primary)
}

[class*="footer"] > [class*="quickMessage"] {
    background-color: var(--background-primary)
}

div[class^="topSectionPlaying"] > header[class^="header"] {
    background-color: var(--background-secondary);
}

header[class^="title"] {
    color: var(--text-normal)
}

div[class^="tabBody"] {
    background-color: var(--background-primary);
}

div[class^="topSectionNormal"] > header > div[class^="headerInfo"]{
    background-color: inherit;
}

div[class^="topSectionSpotify"] > header > div[class^="headerInfo"]{
    background-color: inherit;
}

div[class^="topSectionSpotify"] {
    background-color: var(--header-spotify);
}

div[class*="nameNormal"][class*="ellipsis"][class*="textRow"][class*="weightSemiBold"] > a {
    color: var(--text-normal)
}

div[class*="detailsWrap"][class*="textRow"] > span > a {
    color: var(--text-normal);
}

div[class*="state"][class*="ellipsis"][class*="textRow"] > span > a {
    color: var(--text-normal);
}

div[class^="headerTextNormal"][class*="headerText"][class*="small"][class*="marginBottom8"][class*="weightBold"] {
    color: var(--text-normal);
    background-color: var(--background-secondary);
    background: transparent !important;
}

div[class*="details"][class*="ellipsis"][class*="textRow"] {
    color: var(--text-normal)
}

div[class*="timestamp"] {
    color: var(--text-normal)
}

section[class^="section"] {
    background-color: var(--background-secondary);
}

div[class*="container"] > div[class*="contentWrapper"] {
    background-color: var(--background-secondary);
}

div[class*="selectorSelected"][class*="selector"] {
    background-color: var(--background-tertiary);
}

div[class*="selectorSelected"][class*="selector"] > * > div[class*="marginLeft"] {
    color: var(--text-normal)
}

div[class*="selectorSelected"][class*="selector"] > * > div[class*="colorStandard"] {
    color: var(--text-muted);
}

[class*="selector"] > * > div[class*="marginLeft"] {
    color: var(--text-normal)
}

[class*="selector"] > * > div[class*="colorStandard"] {
    color: var(--text-muted);
}



div[class*="infoBar"] {
    background-color: var(--background-tertiary);
}

div[class*="body"][class*="scrollerBase"][class*="thin"] {
    background-color: var(--background-primary);
}

/* Fix text colour when Spotify is playing */
div[class*="topSectionSpotify"] > header > div[class*="headerInfo"] > div[class*="nameTag"] > * {
    color: var(--text-spotify);
}

/* Fix button colours */
div[class*="topSectionSpotify"] > header > button[class*="actionButton"] {
    background-color: var(--background-tertiary);
}

div[class*="topSectionNormal"] > header > button[class*="actionButton"] {
    background-color: var(--background-secondary);
}

div[class*="topSectionPlaying"] > header > button[class*="actionButton"] {
    background-color: var(--background-tertiary);
}

/** Search **/
div[class*="resultsGroup"] {
    background-color: var(--background-secondary);
}

div[class*="resultsGroup"] > div[class*="option"]::after {
    background-color: var(--background-secondary);
    background: transparent
}

/* Menu Items (right click, server menu, message actions, ect.) */
 .item-1tOPte.focused-3afm-j, .item-1tOPte:active:not(.colorPremium-p4p7qO):not(.colorDanger-2qLCe1):not(#user-context-user-volume) {
	 background: linear-gradient(315deg, #495da4 0%, #7289da 74%);
}
 .item-1tOPte.colorPremium-p4p7qO.focused-3afm-j, .item-1tOPte.colorPremium-p4p7qO:active {
	 background: linear-gradient(315deg, #8980f0 0%, #d577f0 74%);
}
 .item-1tOPte.colorDanger-2qLCe1.focused-3afm-j, .item-1tOPte.colorDanger-2qLCe1:active {
	 background: linear-gradient(315deg, #aa3738 0%, #f04747 74%);
}
 .wrapper-2aW0bm .button-1ZiXG9:not(.dangerous-2r8KxV):hover {
	 color: #fff;
	 background: linear-gradient(315deg, #495da4 0%, #7289da 74%);
}
 .wrapper-2aW0bm .button-1ZiXG9.dangerous-2r8KxV:hover {
	 color: #fff;
	 background: linear-gradient(315deg, #aa3738 0%, #f04747 74%);
}
 .wrapper-2aW0bm div .button-1ZiXG9:hover {
	 color: #fff;
	 background: linear-gradient(315deg, #495da4 0%, #7289da 74%);
}
/* Status Menu */
 #status-picker div .item-1tOPte.focused-3afm-j .statusItem-33LqPf svg foreignObject .status-1AY8sU, #status-picker div .item-1tOPte:active .statusItem-33LqPf svg foreignObject .status-1AY8sU {
	 background: #fff !important;
}
 #status-picker div .item-1tOPte.focused-3afm-j#status-picker-online, #status-picker div .item-1tOPte:active#status-picker-online {
	 background: linear-gradient(315deg, #264d41 0%, #43b581 74%);
}
 #status-picker div .item-1tOPte.focused-3afm-j#status-picker-idle, #status-picker div .item-1tOPte:active#status-picker-idle {
	 background: linear-gradient(315deg, #c2831b 0%, #ffb740 74%);
}
 #status-picker div .item-1tOPte.focused-3afm-j#status-picker-dnd, #status-picker div .item-1tOPte:active#status-picker-dnd {
	 background: linear-gradient(315deg, #aa3738 0%, #f04747 74%);
}
 #status-picker div .item-1tOPte.focused-3afm-j#status-picker-invisible, #status-picker div .item-1tOPte:active#status-picker-invisible {
	 background: linear-gradient(315deg, #373a45 0%, #747f8d 74%);
}
/* Server List (home, join/create, discovery, ect) */
 .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
	 background: linear-gradient(315deg, #495da4 0%, #7289da 74%);
}
 .circleIconButton-jET_ig.selected-ugP_am {
	 background: linear-gradient(315deg, #264d41 0%, #43b581 74%);
}
/* Settings (user, server, ect.) */
 .side-8zPYf6 .item-PXvHYJ.selected-3s45Ha {
	 background: linear-gradient(315deg, #495da4 0%, #7289da 74%);
}
 .side-8zPYf6 .item-PXvHYJ[aria-controls="Discord Nitro-tab"]:active, .side-8zPYf6 .item-PXvHYJ[aria-controls="GUILD_PREMIUM-tab"]:active, .side-8zPYf6 .item-PXvHYJ[aria-controls="Discord Nitro-tab"][aria-selected="true"], .side-8zPYf6 .item-PXvHYJ[aria-controls="GUILD_PREMIUM-tab"][aria-selected="true"] {
	 background: linear-gradient(315deg, #8980f0 0%, #d577f0 74%);
	 color: #fff !important;
}
/* Blurple Buttons */
 .lookFilled-1Gx00P.colorBrand-3pXr91 {
	 background: linear-gradient(315deg, #495da4 0%, #7289da 74%);
}
/* Grey Buttons */
 .lookFilled-1Gx00P.colorGrey-2DXtkV, .lookFilled-1Gx00P.colorPrimary-3b3xI6, .lookFilled-1Gx00P.buttonColor-7qQbGO {
	 background: linear-gradient(315deg, #373a45 0%, #747f8d 74%);
}
/* Green Buttons */
 .lookFilled-1Gx00P.colorGreen-29iAKY, .buttonActive-3FrkXp {
	 background: linear-gradient(315deg, #264d41 0%, #43b581 74%);
}
/* Yellow Buttons */
 .lookFilled-1Gx00P.colorYellow-2JqYwt {
	 background: linear-gradient(315deg, #c2831b 0%, #ffb740 74%);
}
/* Red Buttons */
 .lookFilled-1Gx00P.colorRed-1TFJan {
	 background: linear-gradient(315deg, #aa3738 0%, #f04747 74%);
}
 

div[class*="resultsGroup"] > div[class*="option"]:hover {
    background-color: var(--background-primary);
}

/** Channel topic **/
div[class*="layerContainer"] > div[class*="layer"] > div[class*="focusLock"] > div[class*="modal"] > div[class*="content"] {
    background-color: var(--background-secondary);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/** Playing statuses */
* > div[class*="activityText"] {
    color: var(--text-muted);
}

* > svg {
    color: var(--interactive-hover)
}

/** Header fixes */
* > span[class*="activityName"] {
    color: var(--text-normal)
}

div[class*="activityUserPopout"] > h3[class*="headerTextNormal"][class*="headerText"] {
   color: var(--text-normal);
}

/** Role names */
div[class*="roleName"] {
    color: var(--text-normal);
}

/** That discord icon on the top left */
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
    background-color: var(--background-primary);
}
.wrapper-1BJsBx .childWrapper-anI2G9 {
    background-color: var(--background-primary);
}

/** and the pill beside it */
div[class*="pill"] > span[class*="item"] {
    background-color: var(--background-primary)
}

/** Deleted Messages */
div[class*="focusLock"] > div[class*="root"] > div[class*="content"] {
    background-color: var(--background-secondary);
}
div[class*="focusLock"] > div[class*="root"] > div[class*="content"] > div[class*="message"] {
    background-color: var(--background-tertiary);
}

div[class*="focusLock"] > div[class*="root"] > div[class*="flex"] {
    background-color: var(--background-secondary);
}

/** Bot Tags */
span[class*="botTag"] {
    background-color: var(--text-link)
}

/** Discover Guilds */
div[class*="circleIconButton"][class*="selected"] {
    background-color: var(--background-secondary);
}

div[class*="dragRegion"] {
    background-color: var(--background-secondary);
}

div[class*="container"] > div[class*="base"] > div[class*="content"] div[class*="scroller"][class*="auto"] {
    background-color: var(--background-primary);
}

section[class*="guildListSection"] > div[class*="guildList"] > div[class*="loaded"] > div[class*="card"] {
    background-color: var(--background-tertiary);
}

div[class*="searchBox"] {
    border-color: var(--background-secondary);
}

div[class*="searchBox"] > div[class*="inputWrapper"] {
    background-color: var(--background-tertiary);
    
}

div[class*="headerContentWrapper"] {
    background-color: var(--background-primary);
}

div[class*="headerContentWrapper"] > div[class*="headerContent"] {
    background-color: var(--background-primary);
}

div[class*="container"] > div[class*="search"] {
    border-color: var(--background-primary);
    color: var(--background-primary);
}

div[class*="headerContentWrapper"] > div[class*="headerContent"] > * {
    color: var(--text-normal)
}

div[class*="categoryItem"][class*="selected"] > div[class*="itemInner"] {
    background-color: var(--text-link);
}
div[class*="categoryItem"][class*="selected"] > div[class*="itemInner"] > * {
    color: var(--text-normal)
}

/* Support new integrations menu */
div[class*="flex"][class*="justifyStart"] > button[class*="copyButton"] {
    background-color: var(--background-tertiary);
}

div[class*="flex"][class*="vertical"][class*="directionColumn"] > div[class*="body"] {
    background-color: var(--background-secondary);
}

/* Fix Invites */
div[class*="customScroller"] > div[class*="listContent"] > div[class*="headerSection"] {
    background-color: var(--background-primary);
}

div[class*="flexChild"] > h4[class*="title"] {
    color: var(--text-muted);
}
div[class*="flexChild"] > div[class*="text"] {
    color: var(--text-muted);
}

/* Fix Nickname Menu */
div[class*="root"] > form > div[class*="content"] {
    background-color: var(--background-secondary);
}

div[class*="root"] > form > div[class*="content"] > div[class*="input"] > h5[class*="colorStandard"] {
    background-color: var(--background-secondary);
    margin: 0;
    color: var(--text-normal);
}


div[class*="root"] > form > div[class*="content"] > div[class*="input"] > div[class*="inputWrapper"] > input {
    background-color: var(--background-tertiary);
}

div[class*="flex"][class*="horizontalReverse"][class*="directionRowReverse"] {
    background-color: var(--background-floating);
}

/* Fix "Listen Along" */

/* Modal */
div[class*="modal"] > div[class*="inner"] > div[class*="modal"] > div[class*="content"] {
    background-color: var(--background-secondary);
}

div[class*="modal"] > div[class*="inner"] > div[class*="modal"] > div[class*="content"] > div[class*="invite"] {
    background-color: var(--background-primary);
}

div[class*="header"][class*="inFront"] {
    background-color: var(--background-primary);
    color: var(--text-muted);
}

div[class*="flex"][class*="directionRow"][class*="alignEnd"] > div > button {
    background-color: var(--text-link);
}

div[class*="content"][class*="thin"] > div[class*="textArea"] > div[class*="scrollableContainer"] {
    background-color: var(--background-primary);
}

/* Embed */
div[id*="messages"] > div[class*="container"] > div[class*="invite"] {
    background-color: var(--background-secondary);
}

div[id*="messages"] > div[class*="container"] > div[class*="invite"] > * > * > div[class*="header"] {
    background-color: var(--background-secondary);
}

div[class*="details"] > a[class*="anchor"] {
    color: var(--text-normal);
}

div[class*="state"] {
    color: var(--text-normal);
}

div[class*="state"] > span > a[class*="anchor"] {
    color: var(--text-normal);
}

/* Tooltip fix */
div[class*="tooltipContent"] {
    color: var(--text-normal);
}

/* MessageBox fix */
div[class*="markdown"] {
    color: var(--text-normal);
}

/* Spotify in Powercord */
div[class="powercord-spotify"] {
    background-color: var(--background-secondary);
}

div[class="powercord-spotify hover"] {
    background-color: var(--background-secondary);
}

/** Change Progress Bar colour */
div[class="powercord-spotify"] > div[class*="spotify-seek"] > div[class*="spotify-seek-bar"] > * {
    background-color: var(--header-spotify);
}

/** Change Progress Bar colour */
div[class="powercord-spotify hover"] > div[class*="spotify-seek"] > div[class*="spotify-seek-bar"] > * {
    background-color: var(--header-spotify);
}

/* BetterDiscord toasts */
/* TODO: Fix shadows of toasts */
div[class="bd-toast"] {
    background: var(--background-floating);
    color: var(--text-normal);
}

/* Menu Items (right click, server menu, message actions, ect.) */
 .item-1tOPte {
	 font-weight: 500;
	 transition: 0.1s linear;
}
 .item-1tOPte.focused-3afm-j, .item-1tOPte:active:not(.colorPremium-p4p7qO):not(.colorDanger-2qLCe1):not(#user-context-user-volume) {
	 font-size: 15px;
	 font-weight: bold;
	 transition: 0.1s linear;
}
 .wrapper-2aW0bm .button-1ZiXG9:not(.dangerous-2r8KxV):hover img, .wrapper-2aW0bm .button-1ZiXG9:not(.dangerous-2r8KxV):hover svg {
	 transform: scale(1.15);
	 transition: 0.15s linear;
}
 .wrapper-2aW0bm .button-1ZiXG9.dangerous-2r8KxV svg:hover {
	 transform: scale(1.15);
	 transition: 0.15s linear;
}
 .wrapper-2aW0bm div .button-1ZiXG9:hover img, .wrapper-2aW0bm div .button-1ZiXG9:hover svg {
	 transform: scale(1.15);
	 transition: 0.15s linear;
}
/* Status Menu */
 #status-picker div .item-1tOPte.focused-3afm-j, #status-picker div .item-1tOPte:active {
	 transition: 0.075s linear;
}
/* Server List (home, join/create, discovery, ect) */
 .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 .homeIcon-tEMBK1 {
	 transform: scale(1.1);
	 transition: 0.15s linear;
}
 .wrapper-1BJsBx .childWrapper-anI2G9 .homeIcon-tEMBK1 {
	 transform: scale(1);
	 transition: 0.15s linear;
}
 .circleIconButton-jET_ig.selected-ugP_am svg {
	 transform: scale(1.25);
}
 .circleIconButton-jET_ig svg {
	 transform: scale(1);
}
/* Settings (user, server, ect.) */
 .side-8zPYf6 .item-PXvHYJ {
	 transform: scale(1);
	 transition: 0.15s linear;
}
 .side-8zPYf6 .item-PXvHYJ:hover {
	 transform: scale(1.025);
	 transition: 0.15s linear;
}
/* All Buttons */
 .lookFilled-1Gx00P.colorBrand-3pXr91 {
	/* Blurple Buttons */
	 transform: scale(1);
	 transition: 0.15s linear;
}
 .lookFilled-1Gx00P.colorBrand-3pXr91:hover:not([disabled]) {
	 transform: scale(1.03);
	 transition: 0.15s linear;
}
 .lookFilled-1Gx00P.colorGrey-2DXtkV, .lookFilled-1Gx00P.colorPrimary-3b3xI6, .lookFilled-1Gx00P.buttonColor-7qQbGO {
	/* Grey Buttons */
	 transform: scale(1);
	 transition: 0.15s linear;
}
 .lookFilled-1Gx00P.colorGrey-2DXtkV:not(.fauxDisabled-2ik0Vw):hover, .lookFilled-1Gx00P.colorPrimary-3b3xI6:not(.fauxDisabled-2ik0Vw):hover, .lookFilled-1Gx00P.buttonColor-7qQbGO:not(.fauxDisabled-2ik0Vw):hover {
	 transform: scale(1.03);
	 transition: 0.15s linear;
}
 .lookFilled-1Gx00P.colorGreen-29iAKY, .buttonActive-3FrkXp {
	/* Green Buttons */
	 transform: scale(1);
	 transition: 0.15s linear;
}
 .lookFilled-1Gx00P.colorGreen-29iAKY:hover, .buttonActive-3FrkXp:hover {
	 transform: scale(1.03);
	 transition: 0.15s linear;
}
 .lookFilled-1Gx00P.colorYellow-2JqYwt {
	/* Yellow Buttons */
	 transform: scale(1);
	 transition: 0.15s linear;
}
 .lookFilled-1Gx00P.colorYellow-2JqYwt:hover {
	 transform: scale(1.03);
	 transition: 0.15s linear;
}
 .lookFilled-1Gx00P.colorRed-1TFJan {
	/* Red Buttons */
	 transform: scale(1);
	 transition: 0.15s linear;
}
 .lookFilled-1Gx00P.colorRed-1TFJan:hover {
	 transform: scale(1.03);
	 transition: 0.15s linear;
}


/* Status */
.animatorTop-2Y7x2r > .styleFixed-sX-yHV { width: 45px; background: var(--background-tertiary) !important;}
.footer-2gL1pp { background: var(--background-tertiary) !important;}
.customEmojiPlaceholder-37iZ_j { background-image: url(https://i.ibb.co/hVKW6Xs/e.png);}
.description-2L932D, .status-1fhblQ { display: none;}
.separator-2I32lJ { display: var(--separators);}
[aria-label="Hide Game Activity"] > svg, [aria-label="Show Game Activity"] > svg { margin-left: -2px;}

.animatorTop-2Y7x2r > .menu-3sdvDG::after { 
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--background-tertiary) transparent transparent transparent;
}
 

/* Sadly colors of other toasts(toast-info, toast-success, toast-warning, toast-error) can't be overridden */

/** Gruvbox (dark) Highlight.js theme. Ported from https://github.com/highlightjs/highlight.js/blob/master/src/styles/gruvbox-dark.css */
.theme-dark .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #282828;
}
  
.theme-dark .hljs,
.hljs-subst {
    color: #ebdbb2;
}
  
/* Gruvbox Red */
.theme-dark
.hljs-deletion,
.hljs-formula,
.hljs-keyword,
.hljs-link,
.hljs-selector-tag {
    color: #fb4934;
}
  
/* Gruvbox Blue */
.theme-dark
.hljs-built_in,
.hljs-emphasis,
.hljs-name,
.hljs-quote,
.hljs-strong,
.hljs-title,
.hljs-variable {
    color: #83a598;
}
  
/* Gruvbox Yellow */
.hljs-attr,
.hljs-params,
.hljs-template-tag,
.hljs-type {
    color: #fabd2f;
}
  
/* Gruvbox Purple */
.theme-dark
.hljs-builtin-name,
.hljs-doctag,
.hljs-literal,
.hljs-number {
    color: #8f3f71;
}
  
/* Gruvbox Orange */
.theme-dark
.hljs-code,
.hljs-meta,
.hljs-regexp,
.hljs-selector-id,
.hljs-template-variable {
    color: #fe8019;
}
  
/* Gruvbox Green */
.theme-dark
.hljs-addition,
.hljs-meta-string,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-string,
.hljs-symbol {
    color: #b8bb26;
}
  
/* Gruvbox Aqua */
.theme-dark
.hljs-attribute,
.hljs-bullet,
.hljs-class,
.hljs-function,
.hljs-function .hljs-keyword,
.hljs-meta-keyword,
.hljs-selector-pseudo,
.hljs-tag {
    color: #8ec07c;
}
  
/* Gruvbox Gray */
.theme-dark,
.hljs-comment {
    color: #928374;
}
  
/* Gruvbox Purple */
.theme-dark
.hljs-link_label,
.hljs-literal,
.hljs-number {
    color: #d3869b;
}
  
.theme-dark
.hljs-comment,
.hljs-emphasis {
    font-style: italic;
}
  
.theme-dark
.hljs-section,
.hljs-strong,
.hljs-tag {
    font-weight: bold;
}


